body, html {
  height: 100%;
}

body {
  background-color: #0274d857;
}

h1, h3, nav {
  font-family: 'Poppins', sans-serif;
}

p, li, .text-responsive {
  font-size: calc(1% + 0.8vw + 0.8vh);;
}

.lh-big {
  line-height: 1.6;
}

.w-85 {
  width: 85%;
}

.text-black {
  color: black;
}

.text-indent {
  text-indent: 2rem;
}

.navbar {
  border-bottom: 0.4em solid #0275d8;
}

.navbar-brand {
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-item:hover {
  background-color: #0275d8;
  border-radius: 10px;
}

/* Header */

/* The hero image */
.hero-image {
/* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
background-image: url("imagenes/wishYouWereHere.jpeg");

height: 100%;

/* Position and center the image to scale nicely on all screens */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

/* Place text in the middle of the image */
.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-size: 3rem;
border: 2px solid white;
padding: 30px;
background-color: rgba(128, 128, 128, 0.568);
border-radius: 20px;
}