h1, h3, nav {
  font-family: 'Poppins', sans-serif;
}

p, li, .text-responsive {
  font-size: calc(1% + 0.8vw + 0.8vh);;
}

.w-85 {
  width: 85%;
}

.text-black {
  color: black;
}

.navbar {
  border-bottom: 0.4em solid #0275d8;
}

.navbar-brand {
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-item:hover {
  background-color: #0275d8;
  border-radius: 10px;
}