body {
  background-image: url("../imagenes/cascoSeguridad.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw;
  }

h1, h2 { /* titulo */
  margin: 0;
  text-align: center;
}
h3 {
  text-align: center;
  margin-top: 4vw;
  line-height: 4vw;
}

#wrapper1 { /* titulo */
  position: relative;
  font-family: 'Fjalla One', sans-serif;
  font-size: 150%;
  border: 4px dashed black ;
  margin: auto;
  margin: 10px 20px 10px;
  padding: 20px;
  }

#wrapper2 { /* texto */
  font-family: 'Fjalla One', sans-serif;
  font-size: 150%;
  float: left;
  width: 60%;
  margin: 20px;
  padding: 20px;
  border: 4px dashed black;
}

#imagenPres{ /* imagen */
  position: absolute;
  top: 14vw;
  right: 4vw;
}

.next {
  position: absolute;
  top: 1vw;
  right: 9vw;
}

#nextIndex{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vw;
}

.lista {
  line-height: 3vw;
}